
@{
    ViewBag.Title = "Index1";
}

<h2>Index1</h2>
<p>Product Id: @ViewBag.ProductId</p>
<p>Product Name: @ViewBag.ProductName</p>
<p>Quantity: @ViewBag.Quantity</p>
<p>Price: @ViewBag.Price</p>
<p>Status: @ViewBag.Status</p>
